html {
	background-color: #EDFAFF;
}

#auth_menu {
	position:absolute;
	top:40px;
	left:83%;
	background-color: #4682B4;
	width:14%;
	padding-right:10px;
	border: 1px solid black;
	border-radius:5px;
	text-align: right;
	box-shadow: 1px 1px 1px grey;
}

.menu {
	color:black;
	text-decoration:none;
	font-size:0.8em;
	font-family:sans-serif;
}

.menu a {
	font-size:1em;
}

a.menu:hover {
	color:black;
	font-style: italic;
}

table.formulaire {
	margin:auto;
}

.formulaire_titre {
	margin-left:35%;
	margin-right:35%;
	margin-top:25px;
	width:30%;
	text-align:center;
	font-style:italic;
	font-family: serif;
	font-size: 1.3em;
	color: #4682B4;
	letter-spacing: 1pt;
}

div.formulaire {
	background-color: #4682B4;
	border: 1px solid black;
	border-radius:5px;
	width:75%;
	margin-left :auto;
	margin-right: auto;
}

div.formulaire_bis {
	background-color: #4682B4;
	border: 1px solid black;
	border-radius:5px;
	width:75%;
	margin-left :auto;
	margin-right: auto;
	margin-top: 30px;
}

input.formulaire {
	background-color: #C0FFFF;
	border: 1px solid black;
	border-radius:2px;
}

select.formulaire {
	background-color: #C0FFFF;
	border: 1px solid black;
	border-radius:2px;
}

textarea.formulaire {
	background-color: #C0FFFF;
	border: 1px solid black;
	border-radius:2px;
}

input.envoi_formulaire {
	background: #C0FFFF;
	border-radius: 5px;
	box-shadow: 1px 1px 1px;	
}

.auth_modify_titre {
	margin-top: 38px;
	text-align:center;
	font-style:italic;
	font-family: serif;
	font-size: 1.3em;
	color: #4682B4;
	letter-spacing: 1pt;
}

.auth_modify_nom {
	text-align:center;
	font-family:sans-serif;
	font-size:1.1em;
	letter-spacing: 0.7pt;
}

.auth_modify_erreur {
	text-align: center;
	font-family: serif;
	color: red;
	letter-spacing: 0.7pt;
	font-style:italic;
}