html {
	background-color: #EDFAFF;
}

/*Les styles pour le menu utilisateur */

#auth_menu {
	position:absolute;
	top:40px;
	left:83%;
	background-color: #4682B4;
	width:14%;
	padding-right:10px;
	border: 1px solid black;
	border-radius:5px;
	text-align: right;
	box-shadow: 1px 1px 1px grey;
}

.menu {
	color:black;
	text-decoration:none;
	font-size:0.8em;
	font-family:sans-serif;
}

a.menu {
	font-size: 1em;
}

a.menu:hover {
	color:black;
	font-style: italic;
}

table.formulaire {
	margin:auto;
}

.formulaire_titre {
	margin-left:35%;
	margin-right:35%;
	margin-top:25px;
	width:30%;
	text-align:center;
	font-style:italic;
	font-family: serif;
	font-size: 1.3em;
	color: #4682B4;
	letter-spacing: 1pt;
}

div.formulaire {
	background-color: #4682B4;
	border: 1px solid black;
	border-radius:5px;
	width:75%;
	margin-left :auto;
	margin-right: auto;
}

div.formulaire_bis {
	background-color: #4682B4;
	border: 1px solid black;
	border-radius:5px;
	width:75%;
	margin-left :auto;
	margin-right: auto;
	margin-top: 30px;
}

input.formulaire {
	background-color: #C0FFFF;
	border: 1px solid black;
	border-radius:2px;
}

select.formulaire {
	background-color: #C0FFFF;
	border: 1px solid black;
	border-radius:2px;
}

textarea.formulaire {
	background-color: #C0FFFF;
	border: 1px solid black;
	border-radius:2px;
}

input.envoi_formulaire {
	background: #C0FFFF;
	border-radius: 5px;
	box-shadow: 1px 1px 1px;	
}

div.css_select_journee {
	border: 0.5px solid black;
	border-radius: 5px;
	width:50%;
	margin: auto;
}

a.css_select_journee {
	color:black;
	text-decoration:none;
	font-size:0.8em;
	font-family:sans-serif;
}

a.css_select_journee:hover {
	font-style: italic;
}

.css_select_journee_left {
	padding-right:10px;
	text-align: center;
}

.css_select_journee_right {
	padding-left: 5px;
	text-align: center;
}

.auth_modify_titre {
	margin-top: 38px;
	text-align:center;
	font-style:italic;
	font-family: serif;
	font-size: 1.3em;
	color: #4682B4;
	letter-spacing: 1pt;
}

.auth_modify_nom {
	text-align:center;
	font-family:sans-serif;
	font-size:1.1em;
	letter-spacing: 0.7pt;
}

.auth_modify_erreur {
	text-align: center;
	font-family: serif;
	color: red;
	letter-spacing: 0.7pt;
	font-style:italic;
}

div.nav {
	background-color: #4682B4;
	border-bottom: 0.5px solid black;
	width:100%;
	height:33px;
	top:0px;
	left:0px;
	position:absolute;
}

table.nav_table {
	height: 35px;
	border-collapse: collapse;
}

td.nav_td {
	vertical-align: middle;
}

.nav_td a {
	text-decoration: none;
	font-family: sans-serif;
	font-size: 0.8em;
	color:black;
	letter-spacing: 0.1pt;
}

.nav_td a:hover {
	font-style: italic;
}

.nav_strong {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 0.8em;
	letter-spacing: 0.2pt;
	font-style: normal;
}

img.logo_small {
	width:29px;
	height:29px;
}

p.description {
	text-align:center;
	font-family:serif;
	font-size:1em;
	font-style:italic;
}

div.index {
	position:absolute;
	width:70%;
	left:14%;
	right:14%;
	top:25px;
}

p.index_titre {
	text-align:center;
	font-family:serif;
	font-style: italic;
	font-size:2em;
	color: #4682B4;
	letter-spacing: 1pt;
}

td.index_td_left {
	border-right:1px solid #4682B4;
	width:40%;
	text-align:right;
	padding-right:10px;
}

td.index_td_right {
	border-left:1px solid #4682B4;
	width:40%;
	text-align:left;
	padding-left:10px;
}

p.index_titre_td {
	font-family: serif;
	font-style: italic;
	font-size: 1.3em;
	color: #4682B4;
	letter-spacing: 0.7pt;
}

p.index_description_td {
	font-family:sans-serif;
	font-style: italic;
	color: grey;
}

p.index_liens {
	font-family: serif;
}

.index_liens a {
	text-decoration: none;
	color:black;
}

.index_liens a:hover {
	color: #4682B4;
	font-style:italic;
}

table.index {
	border-collapse:collapse;
	width:72%;
	margin-left:14%;
	margin-right:14%;
}

.formulaire_erreur {
	text-align: center;
	font-family: serif;
	color: red;
	letter-spacing: 0.7pt;
	font-style:italic;
}

.titre {
	text-align:center;
	font-style:italic;
	font-family: serif;
	font-size: 1.3em;
	color: #4682B4;
	letter-spacing: 1pt;
}

.message {
	padding : 5px;
	font-style:italic;
	font-family: serif;
	color:black;
	letter-spacing:0.3pt;
}

.help {
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
	color:grey;
	margin-top:10px;
	font-size: 0.7em;
}

div.ci_resultats {
	border: 0.5px solid black;
	border-radius: 5px;
	width:75%%;
	margin: auto;
	padding: 5px;
}

table.ci_resultats {
	border-collapse:collapse;
	margin:auto;
	text-align:center;
}

th.ci_resultats {
	background-color:#4682B4;
	border-left:1px solid white;
	border-right:1px solid white;
	color:#EDFAFF;
	font-weight: normal;
	font-family: sans-serif;
	font-size: 0.8em;
	font-variant: small-caps;
}

td.ci_resultats {
	border-top: 1px solid black;
	font-size:0.8em;
}

div.ar_personnel {
	border: 0.5px solid black;
	border-radius: 5px;
	width:75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px;
	text-align: center;
}

caption.ar_personnel {
	font-size:1.1em;
	font-family: sans-serif;
	font-variant: small-caps;
}

table.ar_personnel {
	margin:auto;
	border : 1px solid #4682B4;
	border-radius: 5px;
}

th.ar_personnel {
	letter-spacing: 0.2pt;
	font-style: italic;
}

td.ar_personnel {
	border-top: 0.7px solid black;
	margin-left:2px;
	margin-right:2px;
	font-family: sans-serif;
	font-size:0.8em;
}

a.ar_personnel {
	color:black;
	text-decoration:none;
	font-size:0.8em;
	font-family:sans-serif;
}

a.ar_personnel:hover {
	color:black;
	font-style: italic;
}

.ar_personnel_cadre {
	font-weight: bold;
}

table.mess {
	width:98%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	border : 1px solid #4682B4;
	border-radius: 5px;
}

td.mess_expediteur {
	font-family: sans-serif;
	font-style: italic;
	width:35%;
	text-align: left;
}

td.mess_titre {
	font-family: serif;
	font-weight: bold;
	font-size: 1em;
}

a.mess_titre {
	color:black;
	text-decoration: underline;
}

a.mess_titre:hover {
	font-style: italic;
	text-decoration: none;
}

div.mess_menu {
	text-align: center;
}

a.mess_menu {
	color:black;
	text-decoration:none;
	font-size:0.8em;
	font-family:sans-serif;
}

a.mess_menu:hover {
	color:black;
	font-style: italic;
}

div.mess_formulaire_reponse {
	background-color: #4682B4;
	border: 1px solid black;
	border-radius:5px;
	width:75%;
	margin-left :auto;
	margin-right: auto;
	margin-top:20px;
}

p.auteur_message {
	text-align: center;
	font-size:0.8em;
	font-family: serif;
	letter-spacing: 0.8pt;
	color:grey;
}

